<!DOCTYPE html>
<html lang="en">
<head>
  <title>Developer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" type="image/png" href="/img/alpha.png">
  <link rel="stylesheet" type="text/css" href="/css/developer.css">
</head>
<body>



<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <a class="navbar-brand ml-auto mr-auto" href="homepage">Home</a>
</nav>
<div class="jumbotron text-center " >
    <h3>MEET OUR MEMBERS</h3>
    <p>"No member is more important than team"</p>
     
</div>
<div class="container">
    
        
        <div class="card-deck">
            <div class="card " >
                <img class="card-img-top" src="/img/Jigyasu.jpeg" alt="Card image">
                <div class="card-body">
                <h4 class="card-title">Jigyasu Prakash</h4>
                <p class="card-text">..</p>
                <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>

            <div class="card " >
                <img class="card-img-top" src="/img/Adesh.jpg" alt="Card image" >
                <div class="card-body">
                <h4 class="card-title">Adesh Kotgirwar</h4>
                <p class="card-text">..</p>
                <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"></div>
            <div class="card" >
                <img class="card-img-top" src="/img/Atharva.jpeg" alt="Card image" >
                <div class="card-body">
                <h4 class="card-title">Atharva Uplanchiwar</h4>
                <p class="card-text">..</p>
                <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            
            <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>

            <div class="card" >
                <img class="card-img-top" src="/img/Adhney.jpeg" alt="Card image" >
                <div class="card-body">
                <h4 class="card-title">Adhney Nawghare</h4>
                <p class="card-text">..</p>
                <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
         <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
            <div class="card" >
                <img class="card-img-top" src="/img/Gaurav.jpg" alt="Card image" >
                <div class="card-body">
                <h4 class="card-title">Gaurav Shukla</h4>
                <p class="card-text">..</p>
                <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <div class="w-100 d-none d-xl-block"></div>
            <div class="card" >
                <img class="card-img-top" src="/img/Shreya.jpeg" alt="Card image" >
                <div class="card-body">
                <h4 class="card-title">Shreya Aghnohotri</h4>
                <p class="card-text">..</p>
                <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"></div>
             <div class="w-100 d-none d-md-block d-lg-none"></div>
            <div class="card" >
                <img class="card-img-top" src="/img/Rashi.jpg" alt="Card image" >
                <div class="card-body">
                <h4 class="card-title">Rashi Chouksey</h4>
                <p class="card-text">..</p>
                <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="/img/Adesh.jpg" alt="Card image" >
                <div class="card-body">
                <h4 class="card-title">Unknown</h4>
                <p class="card-text">..</p>
                <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"></div>
            <div class="w-100 d-none d-lg-block d-xl-none"></div>
            <div class="card" >
                <img class="card-img-top" src="/img/Adesh.jpg" alt="Card image" >
                <div class="card-body">
                <h4 class="card-title">unknown</h4>
                <p class="card-text">..</p>
                <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <div class="w-100 d-none d-md-block d-lg-none"></div>
            <div class="card" >
                <img class="card-img-top" src="/img/Adesh.jpg" alt="Card image" >
                <div class="card-body">
                <h4 class="card-title">unknown</h4>
                <p class="card-text">..</p>
                <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
            
      

 
  
</div>

</body>
</html>



